{{/* This file intentionally left blank.
   * Put your custom head template for analytics, etc. into your site's
   * (not the theme's) layouts/partials/head/custom.html
   */}}
  <!-- <link href="{{ "css/bootstrap-v3.3.7/bootstrap.min.css" | absURL }}" rel="stylesheet"> -->
  <link href="{{ "css/custom.css" | absURL }}" rel="stylesheet">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6Y370GYYME"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6Y370GYYME');
</script>
